body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* first section  */
.first-section {
    display: flex;
    background-color:
        #161616;
    color:
        #FFFFFF;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 139px;
    border-radius: 40px;
}

.first-div {
    width: 1321px;
    padding-left: 106px;
    padding-top: 50px;
    padding-bottom: 111px;
}

.first-div a {
    text-decoration: none;
    color:
        #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 20px;
    margin-right: 465px;
    gap: 10px;
    background: #DD0000;
    border-radius: 5px;
}

.watch-live-anchor {
    padding-top: 5px;
}

.first-div h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

.first-section-text-padding {
    padding-right: 20%;
}

.first-heading {
    margin-bottom: 15px;
}

.first-paragraph {
    margin-bottom: 25px;
}

.messi-img {
    width: 60%;
    padding-right: 200px;
    margin-top: 40px;
    height: 613px;
    left: 801px;
    top: 83px;
    background: url(images/messi.png);
    background-repeat: no-repeat;
    transition: background 0.7s linear;
}

.messi-img:hover {
    width: 60%;
    padding-right: 200px;
    margin-top: 40px;
    height: 613px;
    left: 801px;
    top: 83px;
    background: url(images/neymer.png);
    background-repeat: no-repeat;
}

/* section 2 */
.second-section {
    margin-top: 130px;
    display: flex;
}

.section-two-anchor-div {
    width: 220px;
    height: 220px;
    left: 140px;
    top: 826px;

    background: #161616;
    border-radius: 10px;
    padding: 30px;

}

.section-two-anchor-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    margin-left: 50px;
    margin-right: 100px;
}

.anchor-one {
    text-decoration: none;
    color: #161616;
    background-color: #FFFFFF;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 4px;
}

.anchor-two {
    text-decoration: none;
    color: #161616;
    background-color: #FFFFFF;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 68px;
    padding-right: 68px;
    border-radius: 4px;
}

.anchor-three {
    text-decoration: none;
    color: white;
    background-color:
        #DD0000;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 89px;
    padding-right: 87px;
    border-radius: 4px;
}

/* section 2 div 2 */
.section-two-transfer-divs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.section-two-transfer-div {
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.without-img {
    padding-left: 20px;
}

.hour-comment {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hour-comment-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.section-two-transfer-div img {
    padding-bottom: 15px;
}

.section-two-transfer-div a {
    text-decoration: none;
    color: #161616;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 17px;
    padding-right: 16px;
    border: 1px solid #161616;
    border-radius: 5px;
    width: 67px;
    height: 24px;
    left: 513px;
    top: 1025px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.transfer-paragraph p {
    width: 272px;
    height: 54px;
    left: 496px;
    top: 1068px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #161616;

}

/* footer  */
footer {
    width: 1585px;
    height: 444px;
    left: 0px;
    top: 2090px;
    margin-top: 130px;
    background: #161616;
}

.footer-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 90px;
}

footer hr {
    width: 1320px;
    height: 0px;
    left: 140px;
    top: 2330px;

    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-paragraph {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #B9B9B9;
    padding-top: 35px;
}

/* upcoming match  */
.match-divs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.match-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.flag-div {
    display: flex;
    gap: 21px;
}

.country-name {
    margin-bottom: 0;
}

.padding-div {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 53px;
    padding-bottom: 53px;
}

.colour-change {
    color: #FFFFFF;
    background-color:
        #DD0000;
}

.colour-change-blog {
    color: #161616;
    background-color: #FFFFFF;
}